{%  extends 'base.html' %}
{% block content %}

 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To Our Shop</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet euismod nisl, id pulvinar ex molestie vel. Sed commodo eleifend augue, et finibus mi eleifend malesuada. Nunc eleifend augue quis lacinia elementum. Donec posuere egestas lorem eget pulvinar. Etiam condimentum aliquet ligula ut congue. In in lobortis ex. Pellentesque in imperdiet nisi, nec luctus sem. Nunc tincidunt lacinia magna, nec dignissim eros congue eget. Donec blandit mattis ex a aliquam. Sed sed blandit turpis. In a dolor pretium quam pharetra tempor ac id purus. Fusce lobortis vulputate pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fermentum mauris quis justo viverra, non tempus erat ultricies. Maecenas eu quam sit amet mauris ullamcorper suscipit a at tellus.

Phasellus sit amet lobortis purus, ut ultrices enim. Quisque pulvinar molestie ultrices. Fusce fringilla, dui eu laoreet fermentum, mauris eros tempus neque, sit amet maximus nibh dolor at velit. Curabitur lobortis sollicitudin quam, quis interdum nibh mollis id. Donec eleifend ante vel justo aliquet sollicitudin. Donec egestas lacus eget volutpat accumsan. Cras vulputate volutpat dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin lobortis, enim nec elementum congue, magna turpis sodales mauris, eget pulvinar diam orci quis dolor. Sed tempus aliquet pharetra. Vivamus ac odio ut tortor porta porttitor quis ut lacus.

Curabitur vel magna felis. Maecenas non enim eleifend eros dignissim placerat et at diam. Aenean placerat nunc venenatis velit hendrerit, in suscipit nisi pretium. Sed non semper enim, sit amet ullamcorper lectus. Nunc ullamcorper nibh sit amet elit aliquet rutrum. Sed congue, justo at dictum congue, velit quam vehicula nisi, efficitur pulvinar diam lorem fringilla nisl. Pellentesque accumsan nibh ut nulla mattis, eu viverra tortor vestibulum.

Quisque lacinia, odio eu varius semper, turpis est euismod sapien, ac varius felis neque nec magna. Cras sit amet mauris nec dolor rhoncus pellentesque bibendum vel sapien. Etiam hendrerit lorem vel quam viverra egestas. Cras quis leo magna. Vestibulum vel bibendum tellus. Vivamus vitae nisl euismod, ullamcorper arcu vel, viverra diam. In semper elit eget mollis interdum. Phasellus massa massa, eleifend ut sapien at, convallis imperdiet tellus. Suspendisse vel orci faucibus, pretium libero eget, placerat enim. Nam quis turpis sed massa dignissim euismod. Integer vitae augue accumsan, iaculis mauris eu, aliquam justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam eget nisl et ipsum tincidunt efficitur sed molestie sem. In consectetur venenatis est eu convallis.

Proin vitae laoreet diam. Sed tellus mi, dignissim et molestie ut, tempor ut augue. Phasellus facilisis purus nec molestie dictum. Donec sed pulvinar dolor. Etiam lobortis nibh urna, ut feugiat odio malesuada sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla cursus iaculis neque vitae aliquet. Vivamus fermentum enim eu lorem ullamcorper euismod. Sed orci felis, porta vel elit nec, vulputate efficitur odio. Nunc ac egestas elit. Phasellus non suscipit erat, elementum pretium enim. In placerat aliquam sodales.
</p>
<br/><br/>            
</div>
        </center>
    </div>
</div>

{% endblock %}